<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/headerLinks') %>
    <title>Print</title>
</head>
<body>
    <div class="container">
        <div class="allButtons">
            <button class="btn btn-success" onclick="window.print();">Print</button>
            <% if(usertype == "Admin"){ %>
                <a href="/salesreport"><button class="btn btn-primary">Go Back</button></a>
            <% }else{ %>
                <a href="/cashpayment"><button class="btn btn-primary">Go Back</button></a>
            <% } %>
        </div>
        <div class="print">
            <div class="showDate">
                <% let {date} = invoiceData %>
                <% let month = ['Jan','Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] %>
                <p class="date"><%= new Date(date).getDate() + "-" + month[new Date(date).getMonth()] + "-" + new Date(date).getFullYear() %></p>
            </div>
            <div class="shopDetails">
                <h3 class="shopName"><%= data.fullname %></h3>
                <p><b>Shreet Address -</b> <%= data.address %></p>
                <p><b>Contact No -</b> <%= data.phone %></p>
                <p><b>Email Address -</b> <%= data.email %></p>
            </div>
            <div class="customerDetails">
                <p><b>Received By - </b><%= invoiceData.customerName %></p>
                <p><b>Address - </b><%= invoiceData.address %></p>
                <p><b>Contact No - </b><%= invoiceData.phoneNo %></p>
            </div>
            <div class="productDetails">
                <table class="table table-bordered">
                    <thead>
                        <tr class="table-active">
                            <th>Product Code</th>
                            <th>Brand Name</th>
                            <th>Product Name</th>
                            <th>Qty</th>
                            <th>Price</th>
                            <th>Discount</th>
                            <th>VAT</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach(product => { %>
                            <% let {productCode, brandName, productName, quantity, price, discount, vat} = product %>
                            <% let cost = quantity * price %>
                            <tr>
                                <td><%= productCode %></td>
                                <td><%= brandName %></td>
                                <td><%= productName %></td>
                                <td><%= quantity %></td>
                                <td><%= cost %></td>
                                <td><%= discount %></td>
                                <td><%= vat %></td>
                                <td><%= (cost + (cost*(vat/100)) - ((cost + (cost*(vat/100))) * (discount/100))) %></td>
                            </tr>
                        <% }) %>
                        <tr>
                            <th colspan="7">Total Amount</th>
                            <td><%= invoiceData.totalAmount %></td>
                        </tr>
                        <tr>
                            <th colspan="7">Change</th>
                            <td><%= invoiceData.cashReturn %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="cashierDetails">
                <p><b>Cashier - </b><%= cashier %></p>
            </div>
        </div>
    </div>
</body>
<%- include('../partials/footerLinks') %>
</html>